@import "variables.css";
@import "normalize.css";
@import "reset.css";
/* @import "font.css"; */
/* @import "ui.css";  */

/* colors defined in variables.css */
:root {
	/* font */
	--font-sans: Helvetica, Arial, sans-serif;
	--font-serif: Times New Roman, Times, serif;
	--font-mono: Menlo, Consolas, Monaco, monospace;

	/* z-index */
	--z-bottom: -1;
	--z-base: 1;
	--z-top: 10;
	--z-overlay: 100;
	--z-modal: 1000;

	/* presets (used in reset.css) */
	--font-body: var(--font-sans);
	--font-form: var(--font-sans);

	--radius-xs: 0.125rem;
	--radius-sm: 0.25rem;
	--radius-md: 0.5rem;
	--radius-lg: 1rem;
	
	--color-bg: var(--color-white);
	--color-fg: var(--color-black);
	--color-fg-light: var(--color-gray-500);
	--color-primary: var(--color-red);
	--color-link: var(--color-black);
	--color-link-hover: var(--color-black);
	--color-focus: var(--color-gray-500);
	--color-mark: Mark;
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-fg-primary: var(--color-white);
	--color-button-bg-primary: var(--color-gray-900);
	--color-button-fg-secondary: var(--color-white);
	--color-button-bg-secondary: var(--color-gray-500);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);

	--fs-small: var(--18px);

	/* "1" second duration */
	--1s: 1ms;
}

/* dark theme */
/* @media screen and (prefers-color-scheme:dark) {
	:root {
		
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

h1 {
	font-weight: 700;
}

h2 {
	font-weight: 700;
}

h3 {
	font-size: var(--28px, 28px);
}

h4 {
	font-size: var(--24px, 24px);
}

h5 {
	font-size: var(--22px, 22px);
}

h6 {
	font-size: var(--20px, 20px);
}

p, blockquote, li {
	line-height: 1.5;
}

svg {
	display: block;
	width: 100%;
	height: auto;
}

span.relative {
	position: relative;
	display: inline-block;
}

span.dotted {
	text-decoration: underline dotted;
	text-decoration-thickness: 2px;
	text-underline-offset: 0.15em;
}

img.headshot {
	position: absolute;
	top: 0.85rem;
	left: -2rem;	
	transform: translate(-100%, 0);
	max-width: 8rem;
	border: 2px dotted currentColor;
}

button {
	text-transform: uppercase;
}